@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color: rgb(160, 4, 158);
    /* --main-color: #2BD984; */
    --title-color: #242329;
    --description-color: #454545;
    --light-color: #BABABA;
    --bg-light: #F9F9F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--title-color);
}

h1,
h2,
h3,
h4 {
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* section {
    margin: 60px 0;
} */

/* .container {
    width: 100%;
    padding: 0 79px;
    margin: 0;
} */

.btn {
    background-color: var(--main-color);
    border-radius: 50px;
    color: var(--bg-light);
    border: none;
    padding: 15px 38px;
    font-size: 16px;
    letter-spacing: 1px;
}

.section-top-title {
    color: var(--main-color);
    text-align: center;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin: 5px 0 12px;
}

.section-description-title {
    text-align: center;
    color: var(--description-color);
    font-size: 14px;
    margin-bottom: 60px;
}

@media only screen and (max-width: 498px) {
    .section-title {
        font-size: 20px;
    }
    .section-description-title {
        font-size: 12px;
    }
}


/* ============ header ============ */
header {
    width: 100%;
    position: fixed; 
    width: 100%;
    background-color:var(--main-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .05);
    z-index: 1000;
}

header .container {
    padding: 15px 30px;
    width: 100%;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
    width: 100%;
}

.brand h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--bg-light);
}

.brand h2 span {
    color: var(--title-color);
}

.header_content ul {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header_content ul li {
    position: relative;
    padding-bottom: 5px;
}

.header_content ul li a {
    position: relative;
    color: var(--bg-light);
    transition: .2s;
    padding-bottom: 5px;
    font-weight: 700;
}

.header_content ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transform: scale(0);
    transition: .3s;
}

.header_content ul li a.active-link:hover::before,
.header_content ul li a.active-link::before,
.header_content ul li a:hover::before {
    transform: scale(1);
} 

.header_content ul li:hover a,
.header_content a.active-link {
    color: var(--title-color);
}

.header_content .menu-bar {
    display: none;
    font-size: 28px;
}

@media only screen and (max-width: 992px) {
    header .container {
        padding: 15px 30px;
        width: 100%;
    }

    .header_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .header_content {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 15px 0;
        width: 100%;
    }
    .header_content .menu-bar {
        display: block;
    }
    
    .nav-menu {
        position: absolute;
        top: 136px;
        right: 45px;
        background: var(--main-color);
        flex-direction: column;
        width: 200px;
        height: 345px;
        padding-top: 50px;
        row-gap: 25px;
        transition: .4s;
    }

    .header_content .menu-active {
        display: none;
    }

}
/* End Hero Section */

/* ============ home ============ */
.home {
    margin: 0;
    height: 100%;
    width: 100%;
}

.home .container {
    height: 100%;
    width: 100%;
    padding: 0 79px;
    margin: 0;
}

.animation-home {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.content_home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 200px;
}

.content_home .left-details h4 {
    color: var(--main-color);
    font-size: 20px;
}

.content_home .left-details h2 {
    margin: 10px 0 20px 0;
    font-size: 40px;
}

.content_home .left-details h1 {
    font-size: 48px;
}

.content_home .left-details p {
    margin: 20px 0 30px;
}

.content_home .right-details {
    position: absolute;
    right: 0;
    z-index: -1;
}

.content_home .right-details > img {
    padding-right: 10em;
    width: 30em;
    height: 30em;
    border-radius: 50%;
}

.content_home .right-details .img-tools img {
    width: 30px;
    position: absolute;
    animation: animateTwo 4s linear infinite;
    /* display: none; */
}

@keyframes animateTwo {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(30px);
    }
}

.content_home .right-details .img-tools img:nth-child(1) {
    bottom: 100px;
    right: 70px;
    width: 80px;

}

.content_home .right-details .img-tools img:nth-child(2) {
    top: 50px;
    right: 100px;
    width: 70px;
    animation-delay: 1s;
}

.content_home .right-details .img-tools img:nth-child(3) {
    top: 150px;
    right: 500px;
    animation-delay: .8s;
}

.footer-home {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 130px;
    padding: 0 200px 0 100px;
}

.footer-home .social-icon {
    display: flex;
    column-gap: 20px;
    font-size: 20px;
}

.footer-home .social-icon a {
    color: var(--description-color);
    transition: .2s;
}

.footer-home .social-icon a:hover {
    color: var(--main-color);
}

.footer-home .mouse {
    display: flex;
    align-items: center;
    animation: animate 1.5s linear infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

.footer-home .mouse i {
    font-size: 30px;
    color: var(--main-color);
}

.footer-home .mouse span {
    font-size: 12px;
    font-weight: 500;
    color: var(--description-color);
}

